body{
    margin:0px;
    background-color: rgb(237, 185, 87); 
}

h1 {
    margin: 0px;
    font-family: "Kaoly";
}

@font-face{
    font-family: "Kaoly";
    src: url("font/Kaoly.ttf")
}

h2{
    font-family: "EBG";
}

@font-face{
    font-family: "EBG";
    src: url("font/EBG.ttf");
}

#nav a:hover, #nav #active-nav{
    background-color:rgb(252, 211, 139);
    border-bottom: 2px solid rgb(78, 50, 0); 
}

#nav a{
    text-decoration: none;
    width: 150px;
    height:50px;
    line-height:50px;
    display:block;
    text-align:center;
    color: rgb(78, 50, 0); 
    
}

#nav{
    width:300px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    }

#navbar{
    box-shadow: 0px 2px 5px rgb(227, 163, 52); 
    }

    

#all{
    width:750px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    background-color:rgb(154, 100, 0);
    width:810px;
} 

#footer{
    text-align:center;
    line-height:60px;
    background-color:black;
    color:white;
    margin-bottom:0px;
    height: 60px;
}

#last {
    margin:0px;
}

#nav ul{
    list-style:none;
    margin:0px;
    padding:0px;
    position:relative;
}

#nav > ul{
    display:flex;
    align-items:flex-start;
}

#nav ul ul{
    display:none;
    position:absolute;
    /* left:0px;
    top:0px;
    z-index:1; */
}

#nav li:hover > ul{
    display: block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
}

#nav ul li{
    background-color: rgb(237, 185, 87); 
    width:150px;
    position:relative;
    text-align:center;
}